[submodule "repositories/basho-stats"]
	path = repositories/basho-stats
	url = https://github.com/basho/basho_stats.git
[submodule "repositories/bitcask"]
	path = repositories/bitcask
	url = https://github.com/basho/bitcask.git
[submodule "repositories/cluster-info"]
	path = repositories/cluster-info
	url = https://github.com/basho/cluster_info.git
[submodule "repositories/ebloom"]
	path = repositories/ebloom
	url = https://github.com/basho/ebloom.git
[submodule "repositories/eper"]
	path = repositories/eper
	url = https://github.com/dizzyd/eper.git
[submodule "repositories/erlang-js"]
	path = repositories/erlang-js
	url = https://github.com/basho/erlang_js.git
[submodule "repositories/erlang-protobuffs"]
	path = repositories/erlang-protobuffs
	url = https://github.com/basho/erlang_protobuffs.git
[submodule "repositories/erlzmq2"]
	path = repositories/erlzmq2
	url = https://github.com/zeromq/erlzmq2.git
[submodule "repositories/jzmq"]
	path = repositories/jzmq
	url = https://github.com/cipriancraciun/jzmq.git
[submodule "repositories/luke"]
	path = repositories/luke
	url = https://github.com/basho/luke.git
[submodule "repositories/luwak"]
	path = repositories/luwak
	url = https://github.com/cipriancraciun/luwak.git
[submodule "repositories/misultin"]
	path = repositories/misultin
	url = https://github.com/ostinelli/misultin.git
[submodule "repositories/mochiweb"]
	path = repositories/mochiweb
	url = https://github.com/mochi/mochiweb.git
[submodule "repositories/rabbitmq-codegen"]
	path = repositories/rabbitmq-codegen
	url = https://github.com/rabbitmq/rabbitmq-codegen.git
[submodule "repositories/rabbitmq-erlang-client"]
	path = repositories/rabbitmq-erlang-client
	url = https://github.com/rabbitmq/rabbitmq-erlang-client.git
[submodule "repositories/rabbitmq-management"]
	path = repositories/rabbitmq-management
	url = https://github.com/rabbitmq/rabbitmq-management.git
[submodule "repositories/rabbitmq-management-agent"]
	path = repositories/rabbitmq-management-agent
	url = https://github.com/rabbitmq/rabbitmq-management-agent.git
[submodule "repositories/rabbitmq-mochiweb"]
	path = repositories/rabbitmq-mochiweb
	url = https://github.com/rabbitmq/rabbitmq-mochiweb.git
[submodule "repositories/rabbitmq-server"]
	path = repositories/rabbitmq-server
	url = https://github.com/cipriancraciun/rabbitmq-server.git
[submodule "repositories/riak"]
	path = repositories/riak
	url = https://github.com/basho/riak.git
[submodule "repositories/riak-core"]
	path = repositories/riak-core
	url = https://github.com/cipriancraciun/riak_core.git
[submodule "repositories/riak-erlang-client"]
	path = repositories/riak-erlang-client
	url = https://github.com/cipriancraciun/riak-erlang-client.git
[submodule "repositories/riak-err"]
	path = repositories/riak-err
	url = https://github.com/basho/riak_err.git
[submodule "repositories/riak-kv"]
	path = repositories/riak-kv
	url = https://github.com/basho/riak_kv.git
[submodule "repositories/skerl"]
	path = repositories/skerl
	url = https://github.com/basho/skerl.git
[submodule "repositories/volution-build-system"]
	path = repositories/volution-build-system
	url = https://github.com/cipriancraciun/volution-build-system.git
[submodule "repositories/webmachine"]
	path = repositories/webmachine
	url = https://github.com/cipriancraciun/webmachine.git
[submodule "repositories/mosaic-components-httpg"]
	path = repositories/mosaic-components-httpg
	url = ../mosaic-components-httpg.git
[submodule "repositories/mosaic-components-rabbitmq"]
	path = repositories/mosaic-components-rabbitmq
	url = ../mosaic-components-rabbitmq.git
[submodule "repositories/mosaic-components-riak-kv"]
	path = repositories/mosaic-components-riak-kv
	url = ../mosaic-components-riak-kv.git
[submodule "repositories/mosaic-components-couchdb"]
	path = repositories/mosaic-components-couchdb
	url = ../mosaic-components-couchdb.git
[submodule "repositories/mosaic-erlang-tools"]
	path = repositories/mosaic-erlang-tools
	url = ../mosaic-erlang-tools.git
[submodule "repositories/mosaic-applications-realtime-feeds"]
	path = repositories/mosaic-applications-realtime-feeds
	url = ../mosaic-applications-realtime-feeds.git
[submodule "repositories/mosaic-java-platform"]
	path = repositories/mosaic-java-platform
	url = ../mosaic-java-platform.git
[submodule "repositories/mosaic-node"]
	path = repositories/mosaic-node
	url = ../mosaic-node.git
[submodule "repositories/mosaic-node-wui"]
	path = repositories/mosaic-node-wui
	url = ../mosaic-node-wui.git
[submodule "repositories/ninja"]
	path = repositories/ninja
	url = https://github.com/cipriancraciun/ninja.git
[submodule "repositories/zeromq2"]
	path = repositories/zeromq2
	url = https://github.com/cipriancraciun/zeromq2.git
[submodule "repositories/couchdb"]
	path = repositories/couchdb
	url = https://github.com/cipriancraciun/couchdb.git
[submodule "repositories/jansson"]
	path = repositories/jansson
	url = https://github.com/akheron/jansson.git
[submodule "repositories/mosaic-go-components"]
	path = repositories/mosaic-go-components
	url = ../mosaic-go-components.git
[submodule "repositories/mosaic-components-mysql"]
	path = repositories/mosaic-components-mysql
	url = ../mosaic-components-mysql.git
[submodule "repositories/mosaic-components-me2cp"]
	path = repositories/mosaic-components-me2cp
	url = ../mosaic-components-me2cp.git
[submodule "repositories/volution-go-libraries"]
	path = repositories/volution-go-libraries
	url = https://github.com/cipriancraciun/volution-go-libraries.git
[submodule "repositories/mosaic-credentials-service"]
	path = repositories/mosaic-credentials-service
	url = ../mosaic-credentials-service.git
[submodule "repositories/mosaic-me2-platform-containers"]
	path = repositories/mosaic-me2-platform-containers
	url = ../mosaic-me2-platform-containers.git
[submodule "repositories/mosaic-mos-package-builder"]
	path = repositories/mosaic-mos-package-builder
	url = ../mosaic-mos-package-builder.git
[submodule "repositories/mosaic-mos-platform-packages"]
	path = repositories/mosaic-mos-platform-packages
	url = ../mosaic-mos-platform-packages.git
[submodule "repositories/mosaic-node-boot"]
	path = repositories/mosaic-node-boot
	url = ../mosaic-node-boot.git
[submodule "repositories/cowboy"]
	path = repositories/cowboy
	url = https://github.com/ninenines/cowboy
[submodule "repositories/cowlib"]
	path = repositories/cowlib
	url = https://github.com/ninenines/cowlib
[submodule "repositories/ranch"]
	path = repositories/ranch
	url = https://github.com/ninenines/ranch
[submodule "repositories/volution-erlang-libraries"]
	path = repositories/volution-erlang-libraries
	url = https://github.com/cipriancraciun/volution-erlang-libraries.git
[submodule "repositories/mosaic-object-store"]
	path = repositories/mosaic-object-store
	url = ../mosaic-object-store.git
